.Chats {
  display: flex;

  justify-content: space-between;
  height: 800px;
  width: 879px;
}

.Item-Title {
  font-size: 29px;
  font-weight: 900;
  letter-spacing: 0.87px;
}

.Chats-Separator {
  width: 2px;
  background-color: #ebe9e4;
}
